<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" (keyup.enter)="addChip()" [(ngModel)]="newChip.name" class="form-control">
        <div class="input-group-append">
          <button type="button" (click)="addChip()" class="btn btn-warning">add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mt-3 d-flex">
        <button *ngFor="let chip of chips" class="btn btn-warning m-1">{{chip.name}}
          <button type="button" class="close" aria-label="Close" (click)="removeChip(chip)">
            &nbsp;<span aria-hidden="true">&times;</span>
          </button>
        </button>
      </div>
    </div>
  </div>
</div>